.containerCv {
    width: 88%;
    height: 154px;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.cv {
    position: relative;
    font-family: 'Aboreto', cursive;
    font-weight: lighter;
    font-size: 66px;
    color: #879f85;
    text-shadow: 3px 2px 0px #ffffff63, 4px 3px 0px rgb(0 0 0 / 15%);
    width: 154px;
    height: 154px;
    margin: 0;
}

.cv .letters-container {
    position: absolute;
    left: 26px;
    right: 0;
    top: 57px;
    bottom: 0;
}

.cv .letters {
    position: relative;
    z-index: 2;
    display: inline-block;
    right: 6px;
    bottom: 20px;
}

.cv .circle {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.cv .circle-dark {
    width: 146px;
    height: 146px;
    background-color: #b4c3b1cf;
    border-radius: 3em;
    z-index: 1;
}

.cv .circle-dark-dashed {
    border-radius: 2.4em;
    background-color: transparent;
    border: 2px dashed #c4bebf;
    width: 148px;
    height: 148px;
}


/* Responsive tablette */

@media all and (min-width: 701px) and (max-width: 920px) {
    .cv {
        left: 645px;
        bottom: -128px;
        width: 115px;
        height: 125px;
        font-size: 45px;
    }
    .cv .letters-container {
        left: 24px;
        top: 54px;
    }
    .cv .circle-dark {
        width: 105px;
        height: 105px;
    }
    .cv .circle-dark-dashed {
        width: 111px;
        height: 111px;
    }
}


/* Resposive Mobile */

@media all and (min-width: 700px) {}