.container {
    width: 95%;
    border: solid 0.4px #ffffff2b;
    height: 80px;
    background-color: #ffffff21;
    border-radius: 100px;
    margin: auto;
    margin-top: 37px;
    position: relative;
}

nav {
    /* lorsque il ya 4 pages a visiter(accueil, art, projet dev, contact )*/
    /* width: 45%;
    height: 100px;
    display: flex;
    margin-left: 50%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center; */
    /*  lorsque il ya 3 pages a visiter(accueil, projet dev, contact ) */
    width: 35%;
    height: 100px;
    display: flex;
    margin-left: 56%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.list {
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
    color: #113421;
    font-family: 'Aboreto', cursive;
}


/* Responsive tablette */

@media all and (min-width: 700px) and (max-width: 900px) {}


/* Resposive Mobile */

@media all and (min-width: 700px) {}