.backgroundProjectpage {
    width: 100%;
    height: 969px;
    margin: 0;
    position: absolute;
    background-color: #879f85ed;
}

.containerMenuProject {
    width: 90%;
    border: solid 0.4px #566854;
    height: 80px;
    background-color: #b2c1b1db;
    border-radius: 100px;
    margin: auto;
    margin-top: 37px;
    position: relative;
}